In [1]:
import pandas as pd

In [34]:
# Загружаем дата сет "маркетинговые кампании"
df_mc = pd.read_csv('/Users/nataliyaarghipova/Downloads/marketing_campaign.csv')

In [35]:
# Возвратим первые 5 строк загруженного датафрейма
df_mc.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True

In [36]:
# Посмотрим количество строк в датафрейме
len(df_mc)

10037

In [37]:
# Загружаем дата сет "абоненты"
df_s = pd.read_csv('/Users/nataliyaarghipova/Downloads/subscribers.csv')

In [38]:
# Возвратим первые 5 строк загруженного датафрейма
df_s.head()

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True
3   a1003           House Ads          1/1/18           NaN        True
4   a1004           House Ads          1/1/18           NaN        True

In [39]:
# Посмотрим количество строк в датафрейме
len(df_s)

10037

In [40]:
# Загружаем дата сет "пользователи"
df_u = pd.read_csv('/Users/nataliyaarghipova/Downloads/users.csv')

In [41]:
# Возвратим первые 5 строк загруженного датафрейма
df_u.head()

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English
3   a1003  30-36 years            English
4   a1004  36-45 years            English

In [42]:
# Посмотрим количество строк в датафрейме
len(df_u)

10037

In [102]:
# Объединяем датасеты

df_3 = pd.merge(df_mc, df_s) 
df_4 = pd.merge(df_3, df_u)
df_4.head()

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,36-45 years,English

In [104]:
# Определить количество, типы и описательные статистики колонок (столбцов) получившегося датасета.
len(df_4)
df_4.info()
df_4.describe(include=['object', 'bool'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 941.1+ KB

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
count,10037,10021,10022,10037,10037,10022,1856,1856,577,1856,10037,10037
unique,10037,31,5,2,4,2,5,31,115,2,7,4
top,a1000,1/15/18,House Ads,control,English,False,Instagram,1/16/18,4/2/18,True,19-24 years,English
freq,1,789,4733,5091,9793,8946,600,163,15,1279,1682,9275

In [79]:
# Определить эффективность маркетинговых каналов по привлечению платящих игроков
df_payment = df_4.loc[df_4['converted'] == True]
df_payment.head()
df_effect = df_payment['marketing_channel'].value_counts()
df_effect.head()

marketing_channel
House Ads    298
Instagram    265
Facebook     237
Email        193
Push          83
Name: count, dtype: int64

In [90]:
# Определить самую раннюю дату подписки на сервис

date_cols = ["date_subscribed"]
df_4[date_cols] = df_4[date_cols].astype("datetime64[ns]")
df_4

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,24-30 years,English
3,a1003,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,30-36 years,English
4,a1004,1/1/18,House Ads,personalization,English,True,House Ads,2018-01-01,NaN,True,36-45 years,English
...,...,...,...,...,...,...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True,Email,2018-01-17,1/24/18,False,45-55 years,German
10033,a11033,1/17/18,Email,control,German,True,Email,2018-01-17,NaN,True,55+ years,German
10034,a11034,1/5/18,Instagram,control,German,False,Email,2018-01-17,NaN,True,55+ years,German
10035,a11035,1/17/18,Email,control,German,True,Email,2018-01-17,NaN,True,0-18 years,German
10036,a11036,1/6/18,Facebook,control,German,False,Email,2018-01-17,NaN,True,0-18 years,German

In [91]:
df_4['date_subscribed'].min()

Timestamp('2018-01-01 00:00:00')

In [113]:
# Определить портрет аудитории удержанных подписчиков (по возрасту и языку)
df_good_users = df_4.loc[df_4['date_canceled'].isnull()]
df_good_users.head()
df_good_users[['age_group', 'language_preferred']].max()

age_group             55+ years
language_preferred      Spanish
dtype: object